<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lecole_des_loustics">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LEcole_Des_Loustics">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MultActivity"></activity>
        <activity android:name=".TableMult"></activity>
        <activity android:name=".ExoMathsActivity"></activity>
        <activity android:name=".AdditionActivity"></activity>
        <activity android:name=".ResultatAdditionActivity"></activity>
        <activity android:name=".ResultatMultActivity"></activity>
        <activity android:name=".db.SaveUser"></activity>

    </application>

</manifest>